@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish&display=swap");
body {
  margin: 0;
  font-family: "Mulish";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d212f;
  color: #6e7191;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.main {
  width: 200px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #61dafb;
  padding: 1px;
}

.main button {
  background-color: #61dafb;
  color: #282c34;
  font-weight: 600;
  width: 50px;
  cursor: pointer;
}

.main button:hover {
  background-color: aquamarine;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
